<section class="my-lg-14 my-8">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-6">
                <h3 class="mb-1">Shopping cart</h3>
            </div>
        </div>
    </div>
</section>

<section class="my-lg-14 my-8">
    <div class="container">
        <div class="row">
            <div class="alert alert-success" role="alert">
                A simple success alert—check it out!
            </div>
            <div class="alert alert-danger" role="alert">
                To FREE delivery you need...
            </div>
        </div>
    </div>
</section>
<section class="my-lg-14 my-8">
    <div class="col-8 mb-6 ml-6 pl-6">
        <table class="table" *ngFor="let product of displayedProducts$ | async">
            <tbody>
                <tr>
                    <td><img [src]="product.imageUrl" [alt]="product.name"></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price | currency}}</td>
                    <td><button (click)="removeProductFromCart(product)">remove</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>